<div>
  
  <h1>Liste des parkings :</h1>

	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<table st-safe-src="listParking.data" st-table="displayParking.data.data" class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th colspan="2">Type</th>
			</tr>
			<tr>
				<th></th>
				<th>
					<input st-search="parking_nom" placeholder="Nom du parking" class="input-sm form-control" type="search"/>
				</th>
				<th>
					<select st-search="parking_type">
						<option value="">Tous</option>
						<option ng-repeat="parking in listParking.data | unique:'parking_type'" value="{{parking.parking_type}}">{{parking.parking_type}}</option>
					</select>
				</th>
			</tr>
		</thead>
		<tbody>
	
		<tr ng-repeat="parking in displayParking.data.data track by parking.parking_id" >
			<td>{{parking.parking_id}}</td>
			<td><a href="#/parking/{{parking.parking_id}}"><p>{{parking.parking_nom}}</p></a></td>
			<td>{{parking.parking_type}}</td>
			<td><a class="btn btn-default" href="#/parking/{{parking.parking_id}}">Détails</a></td>
		</tr>
		</tbody>
		</table>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<div ng-app="ngMap">
			<ng-map zoom-to-include-markers='true'>
				<marker ng-repeat="parking in displayParking.data.data track by parking.parking_id" position="[{{parking.map_y}},{{parking.map_x}}]" title="{{parking.parking_nom}}"></marker>
				<marker position="current-location" title="Vous êtes ici" draggable="true" ></marker>
			</ng-map>
		</div>
	</div>
</div>



	
